
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class = "table-responsive">
            <table class = "table table-striped table-bordered table-hover">
                <thead>
                    <th colspan = "3" style="background-color: rgb(22, 92, 45);"><p style="color:#e2e5e3";>LISTA ERRORES</p></th>
                    </tr>
                    <tr>
                        <th valign="middle">Descripcion</th>
                        <th valign="middle">Fila</th>
                        <th valign="middle">Columna</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>