
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class = "table-responsive">
            <table class = "table table-striped table-bordered table-hover">
                <thead>
                    <th colspan = "5" style="background-color: rgb(22, 92, 45);"><p style="color:#e2e5e3";>Reporte HTML de abarrotería</p></th>
                    </tr>
                    <tr>
						<th valign="middle">codigo</th>
						<th valign="middle">producto</th>
						<th valign="middle">precio_compra</th>
						<th valign="middle">precio_venta</th>
						<th valign="middle">stock</th>

                    </tr>
                </thead>
        					<tr>
						<td>1</td>
						<td>Barbacoa</td>
						<td>10.50</td>
						<td>20.00</td>
						<td>6</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Salsa</td>
						<td>13.00</td>
						<td>16.00</td>
						<td>7</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Mayonesa</td>
						<td>15.00</td>
						<td>18.00</td>
						<td>8</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Mostaza</td>
						<td>14.00</td>
						<td>16.00</td>
						<td>4</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Frijol</td>
						<td>10.50</td>
						<td>20.00</td>
						<td>1</td>
					</tr>
					<tr>
						<td>6</td>
						<td>Azucar</td>
						<td>13.00</td>
						<td>16.00</td>
						<td>3</td>
					</tr>
					<tr>
						<td>7</td>
						<td>Carton de Huevos</td>
						<td>15.00</td>
						<td>18.00</td>
						<td>2</td>
					</tr>
					<tr>
						<td>8</td>
						<td>Sal en libra</td>
						<td>14.00</td>
						<td>16.00</td>
						<td>4</td>
					</tr>
					<tr>
						<td>9</td>
						<td>Consome</td>
						<td>10.50</td>
						<td>20.00</td>
						<td>6</td>
					</tr>
					<tr>
						<td>10</td>
						<td>Arroz</td>
						<td>13.00</td>
						<td>16.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>11</td>
						<td>Cafe en sobre</td>
						<td>15.00</td>
						<td>18.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>12</td>
						<td>1/2 litro de agua pura</td>
						<td>14.00</td>
						<td>16.00</td>
						<td>4</td>
					</tr>

            </table>
        </div>
    </div>
</div>